:root{
  --very-light-grey: #fafafa;
  --light-purple-gray: #e8ddeb;
  --dark-highlight: 84, 36, 107;
}

.card{
  background: var(--surface-e);
  padding:1rem 2rem;
  box-shadow: 0 2px 1px -1px rgba(var(--dark-highlight),.2), 0 1px 1px 0 rgba(var(--dark-highlight),.14), 0 1px 3px 0 rgba(var(--dark-highlight),.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.pointer{
  cursor: pointer;
}
.bounded-width {
  width: 100%;
}